Bai02_AiAgent_VuTanPhuoc_3122411161/n8n-expense-bot/workflows/AI Expense Tracker Bot (Groq).json
{
  "name": "AI Expense Tracker Bot (Groq)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "eae18563-c3e6-4d19-89a9-4bd3eeced23e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        672,
        336
      ],
      "webhookId": "expense-bot-trigger",
      "credentials": {
        "telegramApi": {
          "id": "QiJ32ue1yrqu1VJ1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ [ {\"role\": \"system\", \"content\": \"You are an expense tracking assistant. Extract the following fields from the user input: item (string), amount (number), category (string), payment_method (string). Return ONLY raw JSON (no markdown). Example: {\\\"item\\\": \\\"Coffee\\\", \\\"amount\\\": 30000}\"}, {\"role\": \"user\", \"content\": $json.message.text} ] }}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e591a031-008e-4f7e-a0e6-9dbe0b3992d4",
      "name": "AI Extractor (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1008,
        336
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3RNsuXR8GD8kuRBO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the Groq JSON string into an object\nconst aiContent = $input.item.json.choices[0].message.content;\nreturn JSON.parse(aiContent);"
      },
      "id": "fdffae4d-1510-4580-a346-f127ef19ed21",
      "name": "JSON Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        336
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1q1lsfPi_VZNwuTf5C2NVK9GZ9OZ6FBzi0q2WA7_1EhU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q1lsfPi_VZNwuTf5C2NVK9GZ9OZ6FBzi0q2WA7_1EhU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Item": "={{ $json.item }}",
            "Amount": "={{ $json.amount }}",
            "Payment Method": "={{ $json.payment_method }}",
            "Category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ee39f7c9-a22a-423b-a40b-27dc5536661f",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1440,
        336
      ],
      "credentials": {
        "googleApi": {
          "id": "CETD9okeTL3psGsR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ *Expense Saved*\n\n🛒 *Item:* {{ $('JSON Parser').item.json.item }}\n💰 *Amount:* {{ $('JSON Parser').item.json.amount }}\n📂 *Category:* {{ $('JSON Parser').item.json.category }}\n💳 *Method:* {{ $('JSON Parser').item.json.payment_method }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "2678b71d-3c41-4c17-8918-628fd5f82f41",
      "name": "Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1648,
        336
      ],
      "webhookId": "74bae757-67ca-4030-985f-ed6e7755d7e3",
      "credentials": {
        "telegramApi": {
          "id": "QiJ32ue1yrqu1VJ1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Extractor (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extractor (Groq)": {
      "main": [
        [
          {
            "node": "JSON Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parser": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "43b83006-9af6-4e22-b816-8212930e90f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d24329ee28c56f99df58b50a6af044917a10ab59ece29425de77a509be114d09"
  },
  "id": "cdP67Q052nhals4PSb-Qf",
  "tags": []
}